*{
	font-family:'Times New Roman', Times, serif;

}

table{
	width: 100%;
	margin-top: 0.5%;
	text-align: center;
}

.header_con{
	background-image: url('../media/h11.png');
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.contact_header_con{
	background-image: url('../media/1.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	 
	
}
.service_header_con{
	background-image: url('../media/2.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	 
	
}
.apply_header_con{
	background-image: url('../media/3.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	 
	
}
.login_header_con{
	background-image: url('../media/login.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}


#login_right{
	display: inline-block;
 	width: 70%;
  	float: right;
 	height: 450px;
	margin-right: 15%;
	

}
#login_logo{
	 height: 80%;
	 margin-top: 5%;
	 margin-left: 15%;
}

.header_con_left{
	height: 50px;
	text-align: center;
	padding-top: 1%;
	display: inline-block;
	float: left;
	width: 20%;
	
	
}
.header_con_right{
	height: 50px;
	text-align: center;
	padding-top: 1%;
	display: inline-block;
	float: right;
	width: 20%;
	color: white;
	

}
.header_con_middle{
	height: 50px;
	text-align: center;
	padding-top: 1%;
	display: inline-block;
	float: right;
	
	width: 60%;
}
.apply_form{
	height: 400px;
	margin-top: 2%;
	float: right;
	width: 50%;
	text-align: center;
	margin-right: 2%;
	border: 2px solid rgb(255, 255, 255);
	color: white;
	padding-top: 2%;
}
.apply_form p{
	font-size: 18px;


}
.apply_form button{
	height: 40px;
	width: 20%;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	margin-top: 4%;
	background-color: #ffffff;

}
.pvt_con{
	background-image: url('../media/apply_pvt.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;

}
table{
	color: white;
	width: 100%;
}
.login_content{
	width: 70%;
	float: right;
	border: 2px solid white;
	height: 440px;
	margin-top: 2%;
	margin-right: 2%;

}
.apply_details{
	height: 90%;
	width: 100%;
	
}
.login_content button{
	width: 40%;
	height: 40px;
	margin-left: 1%;
	margin-top: 1%;

}
#c_table{
	display: none;
}

#logout_btn{
	width: 15%;
	height: 40px;
	margin-left: 1%;
	margin-top: 1%;


}
.header_con_middle button{
	  height: 40px;
	  width: 13%;
	  background-color: inherit;
	  color: white;
	  border-radius: 10px;
	  border:  2px solid white;
}
.header_con_middle button:hover{
	background-color: rgb(255, 255, 255);
	color: black;
	border: none;
	font-weight: bold;
	cursor: pointer;
}


.header_con_middle_index{
	height: 50px;
	text-align: center;
	padding-top: 1%;
	display: inline-block;
	float: right;
	width: 60%;

}
.header_con_middle_index button:hover{
	height: 40px;
	width: 13%;
	background-color: inherit;
	color: white;
	border-radius: 10px;
	border:  2px solid white;
}
.header_con_middle_index button{
	background-color: rgb(255, 255, 255);
	color: black;
	border: none;
	font-weight: bold;
	cursor: pointer;
	border-radius: 10px;
	border:  2px solid white;
	height: 40px;
	width: 13%;
}
.clogo{
	height: 60px;
	width: 100px;
	float: left;
	margin-left: 3%;
}
.display_con{
	height: 400px;
	width: 100%;

}
.content_con{
	height: 280px;
	width: 60%;
	margin-left: 30%;



}
.gap_con{
	height: 100px;
	width: 50%;
	margin-left: 30%;
}
.about_us_con{
	margin-top: 2%;
	height: 250px;
	

}
.about_us_con_left{
	height: 250px;
	display: inline-block;
	float: left;
	width: 40%;
	margin-left: 10%;
	background-image: url('../media/vision.gif');
	background-repeat: no-repeat;
	


}

.about_us_con_right{
	height: 250px;
	display: inline-block;
	float: right;
	width: 45%;
	background-image: url('../media/mission.gif');
	background-repeat: no-repeat;
	

}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.mission_heading{
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	color: #110F62;
}
.about_us_con_left h2 {
    font-size: 40px;
	padding-left: 45%;
	margin: 0px;
	color: #110F62;
}
.about_us_con_left p{
	padding-left: 45%;
	text-align: justify;
	font-size: 18px;

}
.about_us_con_right h2{
	font-size: 40px;
	padding-left: 35%;
	margin: 0px;
	margin-bottom: 0px;
	
}
.about_us_con_right p{
	padding-left: 35%;
	text-align: justify;
	padding-right: 10%;
	font-size: 18px;
}
.service_heading{
	text-align: center ;
	height: 40px;
}
.service_heading h2{
	font-size: 35px;
}
.service_con{
	height: 400px;
	width: 100%;
	background-image: url('../media/s_back.png');
	background-size: cover;
	padding-top: 0.1%;
}
#s_content{
	margin-left: 10%;

}


#child{
 	display: inline-block;
 	width: 20%;
 	height: 250px;
 	margin-left: 2%;
 	margin-top: 2%;
 	background-color: white;
 }
 #tchild{
	display: inline-block;
	width: 17%;
	height: 200px;
	margin-left: 2%;
	margin-top: 2%;
	background-color: white;
}

#t_icon{
	height: 170px;
	width: 100%;
	margin-top: 5%;
}
.tflip-card {
	width: 100%;
	height: 200px;
	perspective: 1000px;
  
  }

 .flip-card {
  width: 100%;
  height: 250px;
  perspective: 1000px;

}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.s_img{
	height: 250px;
	width: 80%;
}

.tflip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back ,.t_flip-card-back{
  position: absolute;
  width: 100%;
  height: 95%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {

  color: black;
}

.flip-card-back {

  color: black;
  transform: rotateY(180deg);
 	background-color: rgb(71, 128, 184);
 	background-size: cover;
 	padding-top: 5%;
 	padding-left: 5%;
 	color: white;
 	font-weight: bold;
	text-align: center;
	

}

.t_flip-card-back {

		color: black;
		height: 100%;
		transform: rotateY(180deg);
	   background-color: rgb(140, 141, 145);
	   background-size: cover;
	   padding-top: 5%;
	   padding-left: 5%;
	   color: white;
	   font-weight: bold;
	  text-align: center;
	  
  
  }

.flip-card-back p{
	
	font-size: 15px;
	margin: 0;
	padding: 0;
	line-height: normal;
	text-align: left;
	margin-left: 5%;
	margin-right: 10%;
	width: 90%;
}
.t_flip-card-back p{
	
	font-size: 15px;
	margin: 0;
	padding: 0;
	line-height: normal;
	text-align: left;
	margin-left: 5%;
	margin-right: 10%;
	width: 90%;
}




.certificate_con{
	height: 400px;
	
}
.certificate_con_left{
	height: 400px;
	width: 50%;
	display: inline-block;
	float: left;
	
	
}
.certificate_con_right{
	height: 400px;
	width: 50%;
	display: inline-block;
	float: right;
	
}
.c_img{
	height: 300px;
	width: 80%;
	margin-left: 10%;
	margin-top: 7%;
	border: 1px solid black;
}
.certificate_con_right h1{
	font-size: 30px;
	margin-right: 12%;
	text-align: center;
	margin-top: 10%;
}
.certificate_con_right p{
	font-size: 20px;
	text-align: justify;
	width: 90%;
	margin-top: 5%;
}
hr{
	width: 80%;
}
.contact_con{
	height:600px;
	background-image: url('../media/web_back.png');
	background-size: cover;

}
.contact_con_left{
	display: inline-block;
	width: 30%;
	float: left;
	height: 550px;
}
.contact_con_right{
	display: inline-block;
	width: 70%;
	float: right;
	height: 500px;
}
.contact_left_img{
	height: 100%;
	margin-left: 10%;
	margin-top: 3%;
}
.testimony_con{
	height: 400px;
	margin-top: 4%;
}
.contact_con_right_content{
	width: 100%;
	height: 200px;
}
.contact_con_right_content p{
	font-size: 20px;
	height: 10px;
	font-weight: bold;
}
.first p, .second p, .third p{
	margin-left: 40%;
	margin-top: 20%;
	font-size: 30px;
}
.reach_mini_con_left{
    display: inline-block;
	float: left;
	width: 40%;
	
}
.reach_mini_con_left p{
	font-weight: normal;
	margin: 0 px;
	padding: 0 px;
}
.reach_mini_con_right p{
	font-weight: normal;
	margin: 0 px;
	padding: 0 px;
	font-size: 18px;
}
.reach_mini_con_right{
	display: inline-block;
	float: right;
	width: 60%;
	

}
.footer_query img{ 
   height: 100px;


}
.first1 img,.second1 img,.third1 img{
	margin-left: 40%;
	margin-top: 15%; 
	height: 60%;
	width: 35%;
}
.first{
	height: 150px;
	float: left;
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 5%;
	background-image: url('../media/15.png');
    background-repeat: no-repeat;
	

}
.first:hover{
	box-shadow: 1px 2px 5px black;
}
.second:hover{
	box-shadow: 1px 2px 5px black;
}
.third:hover{
	box-shadow: 1px 2px 5px black;
}
.third{
	height: 150px;
	float: right;
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 7%;
	background-image: url('../media/17.png');
    background-repeat: no-repeat;
}
.second{
	height: 150px;
	float: right;
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 10%;
	background-image: url('../media/16.png');
    background-repeat: no-repeat;

}


.first1{
	height: 150px;
	float: left;
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 5%;
	background-image: url('../media/18.png');
    background-repeat: no-repeat;
	

}
.first1:hover{
	box-shadow: 1px 2px 5px black;
}
.second1:hover{
	box-shadow: 1px 2px 5px black;
}
.third1:hover{
	box-shadow: 1px 2px 5px black;
}
.third1{
	height: 150px;
	float: right;
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 7%;
	background-image: url('../media/19.png');
    background-repeat: no-repeat;
}
.second1{
	height: 150px;
	float: right;
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 10%;
	background-image: url('../media/20.png');
    background-repeat: no-repeat;

}

#t_back{
	
	height: 300px;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {

  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -35px;
  color:black;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.faq_container_heading h1{
	margin-left: 10%;
}


.faq_container{
	background-image: url('../media/8.png');
	background-size: cover;
	margin-bottom: 1%;
	width: 100%;
}
.copyright_con{
	height: 30px;
	width: 100%;
	padding-top: 2%;
	text-align: center;

}
.copyright_con a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
#flot_button {
	position: fixed;
	bottom: -4px;
	right: 10px;
	margin-bottom:0.5%;
  }
.c_flot_btn {
	background-color :inherit;
	border: none;
	
  }
.fix_contact_icon{
	height: 60px;
	width: 60px;
    border-radius: 50%;
}

#android_header{
	display: none;
}

.collapsible {
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  margin-left: 10%; 
  margin-top: 1%;
  background-color: #537ac7;
}

.active, .collapsible:hover {
  
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;

}
.flip-card-back button{
	height: 40px;
	width: 50%;
	margin-top: 6%;
	border-radius: 10px;
	border: none;
}


.active:after {
  content: "\2212";
  color: white;
}

.content_ga {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  width: 75%;
  margin-left: 10%;
  font-size: 18px;
  text-align: justify;
  margin-top: 1%;
  color: #072050;
  
}
.footer{
	background-color: rgb(244, 246, 250);
	height: 200px;
	width: 100%;
}


.footer_right{
	display: inline-block;
	height: 200px;
	width: 25%;

	float: right;
	
 }
.footer_left{
	display: inline-block;
	height: 200px;
	width: 40%;
	float: left;


	
}
.footer_query{
	display: inline-block;
	height: 200px;
	width: 35%;
	float: right;

	text-align: center;
	
}

.footer_right a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding-left: 20%;	

	
}
.footer_right h3{
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding-left: 15%;	

	
}

.footer_icon{
	height: 200px ;
	width: 50%;
	margin-left: 20%;
}
#enq_form_con{
	height: 300px;
	width: 98%;
	margin-left: 1%;
	margin-top: 1%;
}

#enq_form_left{
	display: inline-block;
	width: 60%;
	float: left;
	height: 300px;
	text-align: center;
	

}
#enq_form_right a {
	font-size: 20px;
	color: black;
	font-weight: bold;
	text-decoration: none;
	
}
#enq_form_right p{
	font-size: 20px;
}
#enq_form_right{
	display: inline-block;
  width: 35%;
  float: right;
  height: 250px;
  padding-top: 3%;
  padding-right: 5%;
  font-weight: bold;


}
#contact_hr{
	float: left;
}

#enq_btn{
	height: 40px;
	width: 20%;
	border-radius: 10px;
	font-weight: bold;
	background-color: #170d4e;
	color: white;
	border: none;
	margin-left: 40%;
	
	
}
#c_con{
	margin-top: 0%;
	padding-top: 5%;
	margin-right: 2%;
	text-align: justify;
	margin-left: 20%;
}
select, input{
	margin-top: 20px;
	width: 30%;
	height: 30px;
	border: none;
	border-bottom: 2px solid rgb(24, 24, 216);

}

#apply_form_con{
	height: 300px;
	width: 98%;
	padding-left: 2%;
	margin-top: 1%;
}

#apply_form_left{
	display: inline-block;
	width: 80%;
	height: 250px;
	margin-left: 17%;
	

}
#apply_btn{
	
	margin-left: 45%;
}
#apply_form_left input, select{
	margin-top: 2%;
	background-color: inherit;
	margin-left: 3%;
}
#apply_form_left button{
	 width: 15%;
	 height: 40px;
	 border-radius: 10px;
	font-weight: bold;
	background-color: #170d4e;
	color: white;
	border: none;
}
#apply_form_left button:hover{
		box-shadow: 0px 0px 15px black;

}
button:hover{
	box-shadow: 0px 0px 15px black;

}
#apply_form_right{
	display: inline-block;
  width: 0%;
  float: right;
  height: 300px;
  padding-top: 7%;
}


.service{
	height: 330px;

}
.service_left{
	display: inline-block;
	height: 300px;
	float: left;
	width: 50%;

}

.technical_service_left{
	display: inline-block;
	height: 400px;
	float: left;
	width: 30%;
	
}
.technical_service_right{
	display: inline-block;
	height: 400px;
	width: 80%;
	margin-right: 10%;
	float: right;
	

}
.technical_service_right h1{
	text-align: center;

}
.service_right{
	display: inline-block;
	height: 300px;
	width: 50%;
	float: right;

}


.service_right h1{
    margin-top: 5%;
	
}
.service_right p{
	font-size: 20px;
	text-align: justify;
	margin-right: 5%;

}
.service_img {
	height: 300px;
	margin-left: 30%;
}
.service_left p{
	margin-left: 15%;
	font-size: 20px;
	text-align: justify;
}

.service_left h1{
	margin-left: 15%;
	font-size: 30px;
}


#unhide{
	display: none;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0, 0.7); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color:none;
	margin: auto;
	padding: 20px;
	width: 60%;
	height: 50%;
	text-align: center;
	border: none;
	padding-top: 5%;
  }
   