<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/android.css">
	

</head>
<body>


	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
		   <img src="../media/proc.gif">
		</div>
	  
	</div>
	  
	<div id="android_header">
		<div id="android_header_left">

			 <div id="mySidepanel" class="sidepanel">
				<div class="android_menu_logo"></div> 
			 
				<div class="sidepanel-content">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
					<a href="../index.html">Home</a>
					<a href="../template/service.html">Courses</a>
					<a href="../template/contact.html">Contact</a>
					<a href="../template/apply.html">Apply</a>
					
					
				</div>

		 

			 </div>

		   <button class="openbtn" id="androidbtn" onclick="openNav()">☰</button>	
		   
		</div>
		
		<div id="android_header_right">
			<a href="https://www.instagram.com/caddesk_chikkabanavara?igsh=MWJtMWI3N2RxY21vaA=="><img src="../media/18.png" id="social_icon"></a>
			<a href="https://www.facebook.com/profile.php?id=100086098930633&mibextid=ZbWKwL"><img src="../media/19.png" id="social_icon"></a>
			<a href=""><img src="../media/20.png" id="social_icon"></a>
		</div>	
    </div>

	<div class="sec_android_header_image" id="unhide">
		<div class="header_image">
			 <img src="../media/a1.png" class="a_image">
		</div>
		<div class="header_content">
			<h1>Contact us</h1>
		</div>
	</div>

	<div class="contact_header_con" id="hide">

		<div class="header_con_left"> 
		

	    </div>

		<div class="header_con_middle">
			<button onclick="window.location.href='../index.html'; ">Home</button>
			<button onclick="window.location.href='../template/service.html'; ">Courses</button>
			<button onclick="window.location.href='../template/contact.html'; ">Contact</button>
			<button onclick="window.location.href='../template/apply.html'; ">Apply</button>
			<button onclick="window.location.href='../template/login.html'; ">Login</button>					
				
	    </div>	

	    <div class="header_con_right">
			
	    </div>	

	</div>

	<div id="enq_form_con" >
		<div id="enq_form_left">
		<div id="c_con">
				
				<input type="text" placeholder="Enter Your Name" id="fullname">&nbsp; &nbsp;
				<input type="email" placeholder="Enter Your Email" id="email"><br><br>
				<input type="number" placeholder="Enter Your ContactNo" id="contactno">&nbsp; &nbsp;
				<input type="text" placeholder="Enter Your Collge" id="college"><br><br>
				<input type="number" placeholder="Enter Your Semester" id="sem">&nbsp; &nbsp;
				<br><br>

				<button id="enq_btn" onclick="submitenq()">Submit</button>
				<p id="enq_warning"></p>

			</div>
			
		</div>


			
		<div id="enq_form_right">
				<p>We Are A Click Away!</p> <hr id="contact_hr"> <br>
				<a href="https://www.google.com/maps/dir//Omkar+Engineering+Solutions+Chikkabanavara/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3bae231b443e4f31:0xceb68d956c0587a3?sa=X&ved=2ahUKEwitiLSDn-6DAxUD1jgGHW8nDU8Q9Rd6BAgdEAA"><i id="marker" style="color: rgb(43, 43, 152);" class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;Our Location</a> <br>
			    <a href="https://wa.me/9663143896"><i class="fa fa-whatsapp" id="marker" style=" color: green"></i>&nbsp;&nbsp;&nbsp;Whatsapp </a><br>	
				<a href="tel:+91 9663143896"><i id="marker" class="fa fa-phone" style=" color: blue;"></i>&nbsp;&nbsp;&nbsp;Call </a><br>

			    <a href="mailto:abhinav@gmail.com"><i id="marker" class="fa fa-envelope" style=" color: rgb(57, 46, 46)"></i>&nbsp;&nbsp;Mail </a><br>		
			
		</div>
		
	</div>



	
	<div class="footer">

		<div class="footer_left">
           <img src="../media/footer_logo.png" class="footer_icon">
		</div>
		<div class="footer_query">
			<h3>Scan or Click to Apply</h3>
			<a href="https://gurutva-academy.in/template/apply.html"><img src="../media/apply.png"></a>

		</div>
		<div class="footer_right">
			<h3>Quick Links</h3>
			 <a href="../index.html" > Home</a> <br>
			 <a href="service.html" > Courses</a> <br>
			 <a href="contact.html" > Contact</a>  <br>
			 <a href="apply.html" > Apply</a> <br>

	 </div>
		

	</div>


	<div class="copyright_con">
		<a href="https://www.k-akatechnology.in/"> Copyright @ K-AKA Technology Services ( KTS ) - 2024</a>
	</div>
	
	<div id="flot_button">
            <a class="c_flot_btn" href="https://wa.me/7892590962"> <img src="../media/whatsapp.png" class="fix_contact_icon"></a>
    </div>



</body>

	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
	<script src="../js/connection.js"></script>
	<script src="../js/index.js"></script>


</html>